*
{
    padding: 0; /*ZEROWANIE DOMYSLNYCH STYLOW WSZEDZIE*/
    margin: 0; /*ZEROWANIE DOMYSLNYCH STYLOW WSZEDZIE*/
}
body
{
    width: 100vw; /*NA CALA SZEROKOSC OKNA PRZEGLADARKI*/
    height: 100vh; /*NA CALA WYSOKOSC OKNA PRZEGLADARKI*/
    background-color: black;
    display: flex; /*DZIECI BODY MAJA ZACHOWAC SIE JAK WE FLEXIE*/
}
ul
{
    margin: auto;
}
li
{
    color: yellow;
    display: inline-block; /*KAZDY ELEMENT USTAWIA SIE POZIOMO OBOK SIEBIE*/
    font-size: 40px;
    font-family: 'Monda', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: 0 0 30px white, 0 0 20px yellow;
    transition: opacity 0.5s;
}
li:nth-child(5)
{
    transform: rotate(15deg) translateY(4px);
    animation:/*ZASTOSOWANIE ANIMACJI*/ neon 2s 3s infinite; /*NAZWA/ILE TRWA/ILE RAZY SIE WYKONA*/
}
@keyframes neon /*STWORZENIE ANIMACJI, JAK MA WYGLADAC*/
{
    0% {opacity: 0;}
    10% {opacity: 1;}
    15% {opacity: 0.4;}
    25% {opacity: 1;}
    37% {opacity: 0.7;}
    43% {opacity: 0.5;}
    50% {opacity: 0.8;}
    61% {opacity: 1;}
    69% {opacity: 0;}
    75% {opacity: 0.3;}
    80% {opacity: 0.5;}
    88% {opacity: 1;}
    95% {opacity: 0;}
    100% {opacity: 1;}
}
button
{
    position: absolute;
    left: 5%;
    top: 5%;
}
.off
{
    opacity: 0;
}